h1{
    animation-duration: 2s;
    animation-name: movingHead;
}

@keyframes movingHead {
    0% {
        transform: translate3d(1020px, 0, 0);
    }
    to {
        transform: translateZ(0);
    }
}

hr{
    margin-left: 0;
    width: 1020px;
}

#btn{
    padding: 10px;
}

#signup_btn, #login_btn{
    font-size: 120%;
    background-color:#1cc95e;
    padding: 10px 30px;
}

#cancel_btn{
    margin-left: 5px;
    font-size: 120%;
    background-color:rgb(196, 24, 18);
    padding: 10px 30px;
}

#join_btn{
    margin-left: 5px;
    font-size: 120%;
    background-color:rgb(43, 134, 219);
    padding: 10px 30px;
}

.nav_container {
    max-width:1020px;
    padding-right: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}


.main_container {
    max-width: 1020px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box{
    width: 240px;
    height: 400px;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    gap: 1em;
}

.item{
    padding: 3px;
    margin-right:1px;
    display: flex;
    flex-direction: row;
    padding-right: 2px;
    width: 80px;
    height: 80px;
    padding-right: 1px;

    transition-property: width, height;
    transition-duration: 2s;
}


.item:hover{
    width: 120px;
    height: 120px;
    
}



@media screen and (max-width: 480px) {
    .nav_container{flex-direction: column;}
    .main_container{flex-direction: column;}
    .box{flex-direction: column;}

}

@media screen and (min-width: 481px) and (max-width: 800px) {
    .nav_container{flex-wrap: wrap;}
    .main_container{flex-wrap: wrap;}
    .box{flex-direction: wrap};
}

.info{
    max-width: 1020px;
    column-count: 2; column-gap: 30px; column-rule: 1px outset black;
}